*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color:black;
    --secondary-color:gold;
}
.light-theme{
    --primary-color:white;
    --secondary-color:purple;
}
::-webkit-scrollbar{
    width: 3px;
}
::-webkit-scrollbar-track{
    background:var(--secondary-color);
}

.container{
    display: flex;
    height: 89vh;
    width: 100vw;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:var(--primary-color);
    overflow-y: scroll;
}
.container20{
    display: flex;
    height:auto;
    width: 100vw;
    box-sizing: border-box;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
    background-color:var(--primary-color);
    overflow-y: scroll;
}
#icon{
    cursor: pointer;
}

.heading{
    color: var(--secondary-color);
    font-family: 'Arial Narrow Bold', sans-serif;
    margin-bottom: 50px;
    font-size: 35px;
}
.res{
    color: var(--secondary-color);
    font-family: 'Arial Narrow Bold', sans-serif;
    margin-top: 20px;
    display: none;
    height: 50vh;
    overflow-y: auto;
    
}
.SearchBox{
    padding:10px;
    width: 60vw;
    font-size: 15px;
    font-family: 'Arial Narrow Bold', sans-serif;
    color:indigo;
    outline: none;
    border:2px solid var(--secondary-color);
    border-radius: 100px;
}
.SearchBox:hover{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.heading:hover{
    transform: scale(1.14);
    transition: 0.5s all ease-in-out;
}
.reload:hover{
    transform: scale(1.3);
    transition: 0.2s all ease-in-out;
}
.res{
    margin-top: 45px;
    width: 80vw;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 5px;
    border: 1.5px solid var(--secondary-color);    
}
.w{
    font-size: 30px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 350;
    display:inline;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
}


.phonetics{
    border: 2px solid grey;
    border-radius: 60px;
    margin-bottom: 15px;
    font-size: 10px;
    display: inline-block;
    color: var(--secondary-color);
    font-family: 'Arial Narrow Bold', sans-serif;
    padding: 5px 10px;
   
    font-weight: 300;
}
.res > audio{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
    outline: none;
    padding-right: 10px;
    padding-left: 10px;
}
.res > h2{
    font-size: 25px;
    font-weight: 300;
    color:grey;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    border: 2px solid grey;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 20px;
}
.wdefin{
    color:orange;
    padding-left: 10px;
    padding-top: 20px;
    margin-bottom: 20px;
}
.sheading{
    font-size: 25px;
    font-weight: 300;
    color:grey;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    border: 2px solid grey;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 20px;
}
.Synon{
    display:flex;
    flex-direction: row;
    color:orange;
    margin-left: 10px;
    
    margin-top: 20px;
    font-size: 10px;
    font-weight: 300;
    
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
}
.pills{
    margin-right: 20px;
    padding: 5px 10px;
    border: 2px solid grey;
    border-radius: 15px;
    font-family: 'Arial Narrow Bold', sans-serif;
}
.reload{
    color: var(--secondary-color);
    margin-top: 30px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
}
